
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fafafa;
    
    
}

nav{
    background-color: #D91E36;
    font-family: Verdana, sans-serif;
    text-align: center;
    
    width:100%;
    font-size: 20px;
    margin: 0 auto;
    
    

}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
    
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    float:none;
    text-align: center;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.8);
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);

}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
nav ul.hide{
    display: none;
    
    
}
nav a.active{
    background-color: black;
    color:white;
   
}
header{
    text-align: center;
}
p{
    font-family: 'Merriweather', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

main{
    
    background-color:#9E2A2B;
    color: white;
    
    width: 80%;
    margin: 0 auto;
   padding-bottom: 12px;
}
.home-head{
    padding: 12px;
}
.welcome, .rents{
    margin: 0 auto;
    width: 70%;
    background-color: #DA344D;
    border-bottom: 12px;
    border-spacing: 10px;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 12px;
}
footer{
    background-color:#D91E36 ;
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.forecast{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.forecast-day{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 25%;
    margin-bottom: 12px;
    
}
.list{
    
    margin: 0 auto;
   text-align: center;
   width: 35%;

}
  

.summary{
    background-color: white;
    color: black;
    width:150px;
    margin: 0 auto;
}






form fieldset{
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}
form legend{
    color: white;
    margin: 0 1rem;
    padding: 0 .5rem;
    
}
form label.top, form div{
    display :block;
    padding-top: 1rem;
    font-size: 18px;
    

}
form label.top input, form label.top select,form label.top-tick input, form label.top-tick select {
    display: block;
    font-size: 18px;
    border: solid 1 px #999;
    color: black;
    width: 50%;
    max-width: 20rem;
    height: 44px;
    border-radius: 10px;
    
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}