
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
  
    
}

nav{
    background-color: #4FB286;
    font-family: Verdana, sans-serif;
    

    width:100%;
    font-size: 20px;
    margin: 0 auto;

    

}
.banner{
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
    
    
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    float:none;
    text-align: center;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.8);
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);

}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
nav ul.hide{
    display: none;
    
    
}
nav a.active{
    background-color: black;
    color:white;
}

body{
    background-color:#4D685A ;
    color: white;
}
header{
    text-align: center;
}
main{
    background-color:#8FBC8F ;
    
    

    width:80%;
    font-size: 20px;
    margin: 0 auto;
    
}
h2{
    text-align: center;

}

footer{
    width:90%;
    text-align: center;
    background-color: #4FB286;
    margin: 20px auto;
}




/*----------FORM------------*/
form fieldset{
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}
form legend{
    color: white;
    margin: 0 1rem;
    padding: 0 .5rem;
    
}
form label.top, form div{
    display :block;
    padding-top: 1rem;
    font-size: 18px;
    

}
form label.top input, form label.top select,form label.top-tick input, form label.top-tick select {
    display: block;
    font-size: 18px;
    border: solid 1 px #999;
    color: black;
    width: 50%;
    max-width: 20rem;
    height: 44px;
    border-radius: 10px;
    
}
.ticks{
    display: flex;
    align-items: center;
}



.submit-button{
    border: none;
    background-color: #555;
    color:white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}